body{
    background-color:#313647;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5vmin;
}
.game{
    color: black;
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5vmin;
    border-radius: 1rem;
    
}
.box{
    color: black;
    font-size: 8vmin;
    background-color: #FFF8D4;
    height:18vmin ;
    width:18vmin ;
    border-radius: 1rem;
  }
h1{
    color: #A3B087;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#rst-btn{
    font-size: 1.7rem;
    padding: .3rem;
    color: #313647;
    background-color: #A3B087;
    border: none;
    border-radius: .5rem;
}



#msg{
    font-size: 1.7rem;
    padding: .3rem;
    color: #A3B087;
   
}

#new-game{
    font-size: 2rem;
    font-size: 1.7rem;
    padding: .3rem;
    color: #313647;
    background-color: #A3B087;
    border: none;
    border-radius: .5rem;
}

.hide{
    display: none;
}
